html {
  background-image: url(img/paper.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: 'Mrs Saint Delafield', cursive;
  font-weight: normal;
  font-size: 64px;
  color: #801124;
  text-align: center;
  margin: 0;
  height: 75px;
}

body {
  padding: 0%;
  margin: 0;

}

.osnova {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.foto-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.foto-form {
  text-align: center;
}

.foto-form img {
  width: 140px;
  height: auto;
}

.foto-form h2 {
  margin: 10px 0 0 0;
  font-size: 20px;
  color: #333;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar img {
  width: 90%;
  height: auto;
  line-height: 90%;
}

p {
  font-family: 'Bona Nova SC', serif;
  font-size: 13px;
  text-align: center;
  margin: 0;
  color: #000;
}

.calendar p {
  height: 10px;
}

h3 {
  font-family: "Antarctic", sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
}

.block2 {
  padding-top: 15px;
  width: 100%;
  background-color: #45493A;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.block2 h3{
  text-align: right;
  width: 320px;
}

.block2 p {
  color: #fff;
}

.calendar h3 {
  margin-top: -25px;
}

.block3 {
  padding-top: 15px;
  width: 100%;
  background-color: #F8F0E4;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.block3 img {
  width: 300px;
  height: auto;
}

.block3 h3 {
  color: #45493A;
}

.block4 h3 {
  color: #45493A;
  text-align: right;
  width: 320px;

}

.block4 {
  padding-top: 15px;
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: #FBF8F1;
}

.block4 img {
  width: 320px;
  height: auto;
  margin-top: 0;
}

.block4 p {
  margin: 15px;
}

.block5 {
  padding-top: 15px;
  width: 100%;
  background-color: #45493A;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.block5 h3{
  text-align: center;
  width: 320px;
}

.block5 p {
  color: #fff;
}



.color {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 7px;
}

.color img {
  height: 70px;
  width: auto;
}

.osnova h3 {
  color: #45493A;
}


.xoy h3 {
  text-align: start;
  width: 300px;
}

.yang{
  text-align: center !important;
  width: auto !important;
  margin-top: -40px;
}


.wedding-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 320px;
  padding: 20px;
  font-family: Arial, sans-serif;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-family: 'Bona Nova SC', serif;
  font-size: 15px;
  text-align: left;
  margin: 0;
  color: #000;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid#7D7C78;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid#7D7C78;
  outline: none;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

button {
  font-family: 'Bona Nova SC', serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  background: #801124;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  font-size: 16px;
  transition: 200ms;
}

button:hover {
  background: #45493A;
}

